{% extends "components/player_base.html" %}

{% block title %}❤️ {{ like_count }} Like{{ 's' if like_count != 1 else '' }} - Virtual Playlist{% endblock %}

{% set page_title = "❤️ " + like_count|string + " Like" + ("s" if like_count != 1 else "") + " - Virtual Playlist" %}
{% set favicon_emoji = "❤️" %}
{% set player_css = "likes-player" %}
{% set player_js = "player-virtual" %}
{% set back_url = "/likes" %}
{% set back_text = "Virtual Playlists" %}
{% set show_stream = false %}
{% set show_cast = true %}
{% set show_prev_next = true %}
{% set show_stop = false %}
{% set virtual_playlist_config = {"like_count": like_count} %} 